.bi-bell {
    font-size: 20px
}

.navbar-nav img {
    width: 45px;
    border-radius: 100%;
}

.jumbotron {
    background-color: #754ffe;
    color: white;
    font-family: sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bottom-bar {
    background-color: white;
}

.spans {
    background-color: #f6e2cd;
    width: 50px;
    height: 50px;

}

.spans .bi {
    color: rgb(169, 83, 22);
}

.recomended,
.most-popular,
.trending,
footer {
    background-color: #f5f4f8;
}

.avatar {
    width: 30px;
    border-radius: 100%;
}

.bi.bi-reception-4,
.bi.bi-reception-3,
.bi.bi-reception-2 {
    color: purple;
}

.stars {
    color: rgb(232, 131, 49);
}

.total {
    color: black;
}

.new-price i,
.old-price i {
    margin-right: 0px;
}

.card-footer {
    background-color: white;
}

h5 {
    font-size: 17px;
}

.card-body-2,
.stars,
.price,
.avatar-name {
    font-size: 14px;
}

.trending {
    padding-bottom: 120px;
}


@media (max-width: 768px) {

    .recomended,
    .most-popular,
    .trending {
        padding: 40px 0;
    }
}

footer a.link-offset-2 {
    color: gray !important;
    transition: color 0.3s;
}

footer a.link-offset-2:hover {
    color: purple !important;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.avatar-name {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.card,
.card-body,
.card-body-2,
.stars,
.price,
.card-footer,
.card-footer .d-flex {
    min-width: 0;
}

.card-body-2 span,
.stars span,
.price span {
    min-width: 0;
}

.time,
.level,
.total {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

@media (max-width: 768px) {

    .card-title {
        font-size: 15px;
        -webkit-line-clamp: 2;
    }

    .avatar-name,
    .level,
    .total,
    .time {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card-footer .d-flex {
    min-width: 0;
}

.card {
    transition: transform 0.5s ease, box-shadow 0.5s ease
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.card-footer img {
    transition: transform 0.5s ease, color 0.5s ease
}

.card-footer img:hover {
    transform: scale(2);
}

.card-footer .bi-bookmark {
    color: gray;
    transition: all 0.3s ease;
}

.card-footer .bi-bookmark:hover {
    color: purple;
    transform: scale(1.8);
}

.card-body2,
.stars {
    opacity: 60%;
}